<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
<div th:if="${crear}" class="row">
	<div class="container my-5" align="center">
		<h5 align="center">Nuevo Autorizado</h5>
		<div class="card" style="width: 90%">
			<div class="card-body" style="text-align: left; width: 170%">
				<div class="col-md-10">
					<form action="#" th:object="${autorizadoPersonaJuridica}" method="post" enctype="multipart/form-data">
						<input type="hidden" th:value="${crear}" id="crear" name="crear"/>
						<script>
							$('form').on(
									'submit',
									function(e) {
										e.preventDefault();
										processPostForm(
												"agregarAutorizadoPersonaJuridica",
												this);
									});
						</script>
						<div class="row">
						<div class="col-md-5">
							<input type="hidden" name="idTipoAutorizado"
								id="idTipoAutorizado"
								th:value="${autorizadoPersonaJuridica.idTipoAutorizado}" />
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Tipo de
									Autorizado</label> <input type="text"
									value="Autorizado - Persona Juridica" class="form-control"
									id="nombre" maxlength=100 readonly>
							</div>
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Datos
									B&aacute;sicos</label>
							</div>
							
							<div class="form-group col-md-8">
								<label for="rifEmpresa" class="col-form-label">RIF
									Empresa</label>
								<div class="rif_row">
									<select th:field="*{caracterRifEmpresa}"
										id="caracterRifEmpresa" class="form-control caracter">
										<option selected value="J">J</option>
										<option value="G">G</option>
										<option value="C">C</option>
										<option value="V">V</option>
										<option value="E">E</option>
									</select> <input type="text" th:field="*{rifEmpresa}"
										class="form-control rif" id="rifEmpresa" placeholder="RIF"
										maxlength="9" oninput="soloNumeros(this)">
								</div>
								<span th:if="${#fields.hasErrors('rifEmpresa')}"
									th:errors="*{rifEmpresa}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nombreEmpresa" class="col-form-label">Nombre
									Empresa</label> <input type="text" th:field="*{nombreEmpresa}"
									class="form-control" id="nombreEmpresa" maxlength=100>
									<span th:if="${#fields.hasErrors('nombreEmpresa')}"
									th:errors="*{nombreEmpresa}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="tipoDocumentoAutorizado" class="col-form-label">Documento
									del Autorizado</label>
								<div class="rif_row">
									<select th:field="*{tipoDocumentoAutorizado}" id="tipoDocumentoAutorizado"
										class="form-control caracter">
			   							<option selected value="V">V</option>
										<option value="E">E</option>
										<option value="P">P</option>										
									</select> <input type="text"
										th:field="*{documentoAutorizado}" class="form-control rif"
										id="documentoAutorizado" placeholder="Numero de documento"
										maxlength="9" oninput="soloNumeros(this)" />
								</div>
								<span th:if="${#fields.hasErrors('documentoAutorizado')}"
									th:errors="*{documentoAutorizado}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nombreAutorizado" class="col-form-label">Nombre
									Autorizado </label> <input type="text" th:field="*{nombreAutorizado}"
									class="form-control" id="nombreAutorizado" maxlength=100>
								<span th:if="${#fields.hasErrors('nombreAutorizado')}"
									th:errors="*{nombreAutorizado}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="cargo" class="col-form-label">Cargo dentro de la Empresa
								</label> <input type="text" th:field="*{cargo}"
									class="form-control" id="cargo" maxlength=50>
									<span th:if="${#fields.hasErrors('cargo')}"
									th:errors="*{cargo}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="telefono" class="col-form-label">Tel&eacute;fono
									M&oacute;vil</label> 
								<div class="rif_row">
									<select th:field="*{prefijoTelefono}" id="prefijoTelefono"
										class="form-control caracter">
			   							<option selected value="0412">0412</option>
										<option value="0414">0414</option>
										<option value="0424">0424</option>	
										<option value="0416">0416</option>										
										<option value="0426">0426</option>
									</select> 
									<input type="text" th:field="*{telefono}" oninput="soloNumeros(this)"
									class="form-control rif" placeholder="Numero de telefono" id="telefono" maxlength=7>
								</div>			
									<span th:if="${#fields.hasErrors('telefono')}"
									th:errors="*{telefono}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="text" class="col-form-label">Correo
									electr&oacute;nico</label> <input type="text" th:field="*{email}"
									class="form-control" id="email" maxlength=150>
									<span th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}" class="text-danger"></span>
							</div>
							</div>
						<div class="col-md-5">	
							<div class="form-group col-md-8 logo-row">
								<div class="logo-selector">
									<label for="documentoImg" class="col-form-label">Documento
										de Identidad (JPG, GIF o PNG)</label>
								    <div>
										<input type="button" class="btn btn-primary" onclick="document.getElementById('documentoImg').click()" value="Examinar"> 
										<input type="button" class="btn btn-primary" onclick="cleanImg('documentoImg','imgDocumentoAutorizado', 'imagenDocumento' )" value="Limpiar">
										<input type="file" th:field="*{documentoImg}" class="form-control" style="display: none" id="documentoImg" onchange="loadImage(event, 'documentoImgContainer', 'imagenDocumento', 'imgDocumentoAutorizado', 'documentoImgErrorServer', 'documentoImgErrorClient')">										
										<input type="hidden" th:field="*{imgDocumentoAutorizado}" id="imgDocumentoAutorizado"> 
										<span id="documentoImgErrorServer" th:if="${#fields.hasErrors('documentoImg')}" th:errors="*{documentoImg}"	class="text-danger"></span> 
										<span id="documentoImgErrorClient"	style="display: none" class="text-danger"></span>
									</div>
								</div>
								<div class="logo-container" id="documentoImgContainer">
									<img th:if="${autorizadoPersonaJuridica.imagenDocumento}"
										id="imagenDocumento" class="logo-image"
										th:src="|data:image/jpg+gif+png;base64,${autorizadoPersonaJuridica.imagenDocumento}|">
								</div>
							</div>
							<div class="form-group col-md-8 logo-row">
								<div class="logo-selector">
									<label for="documentoRifImg" class="col-form-label">Documento
										RIF (JPG, GIF o PNG)</label>
									<div>
										<input type="button" class="btn btn-primary" onclick="document.getElementById('documentoRifImg').click()" value="Examinar">
										<input type="button" class="btn btn-primary" onclick="limpiarImagen('imgDocumentoRifAutorizado','documentoRifContainer');" value="Limpiar"> 											
										<input type="file"  th:field="*{documentoRifImg}" class="form-control" style="display: none" id="documentoRifImg" onchange="loadImage(event, 'documentoRifContainer', 'imagenDocumentoRif', 'imgDocumentoRifAutorizado', 'documentoImgRifErrorServer', 'documentoRifImgErrorClient')">
										<input type="hidden" th:field="*{imgDocumentoRifAutorizado}" id="imgDocumentoRifAutorizado"> 
										<span id="documentoRifImgErrorServer" th:if="${#fields.hasErrors('documentoRifImg')}" th:errors="*{documentoRifImg}"	class="text-danger"></span> 
										<span id="documentoRifImgErrorClient"	style="display: none" class="text-danger"></span>
									</div>
								</div>
								<div class="logo-container" id="documentoRifContainer">
									<img th:if="${autorizadoPersonaJuridica.imagenDocumentoRif}"
										id="imagenDocumentoRif" class="logo-image"
										th:src="|data:image/jpg+gif+png;base64,${autorizadoPersonaJuridica.imagenDocumentoRif}|">
								</div>
							</div>
							<div class="form-group col-md-8 logo-row">
								<div class="logo-selector">
									<label for="documentoAdicionalImg" class="col-form-label">Documento
										Adicional (JPG, GIF o PNG)</label>
									<div>
										<input type="button" class="btn btn-primary" onclick="document.getElementById('documentoAdicionalImg').click()"	value="Examinar">
										<input type="button" class="btn btn-primary" onclick="limpiarImagen('imgDocumentoAdicionalAutorizado','documentoAdicionalContainer');" value="Limpiar"> 											
										<input type="file"   th:field="*{documentoAdicionalImg}" class="form-control" style="display: none" id="documentoAdicionalImg" onchange="loadImage(event, 'documentoAdicionalContainer', 'imagenDocumentoAdicional', 'imgDocumentoAdicionalAutorizado','documentoAdicionalImgErrorServer', 'documentoAdicionalImgErrorClient')">
										<input type="hidden" th:field="*{imgDocumentoAdicionalAutorizado}" id="imgDocumentoAdicionalAutorizado"> 
										<span id="documentoAdicionalImgErrorServer" th:if="${#fields.hasErrors('documentoAdicionalImg')}" th:errors="*{documentoAdicionalImg}"	class="text-danger"></span> 
										<span id="documentoAdicionalImgErrorClient"	style="display: none" class="text-danger"></span>
									</div>
								</div>
								<div class="logo-container" id="documentoAdicionalContainer">
									<img th:if="${autorizadoPersonaJuridica.imagenDocumentoAdicional}"
										id="imagenDocumentoAdicional" class="logo-image"
										th:src="|data:image/jpg+gif+png;base64,${autorizadoPersonaJuridica.imagenDocumentoAdicional}|">
								</div>
							</div>
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Datos del
									Veh&iacute;culo</label>
							</div>
							<div class="form-group col-md-8">
								<label for="placa" class="col-form-label">Placa</label> <input
									type="text" th:field="*{placa}" class="form-control" id="placa"
									maxlength=10>
									<span th:if="${#fields.hasErrors('placa')}"
									th:errors="*{placa}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="marcaModeloColor" class="col-form-label">Marca,
									Modelo y Color </label> <input type="text"
									th:field="*{marcaModeloColor}" class="form-control"
									id="marcaModeloColor" maxlength=100>
									<span th:if="${#fields.hasErrors('marcaModeloColor')}"
									th:errors="*{marcaModeloColor}" class="text-danger"></span>
							</div>
							</div>

							<div class="form-group col-md-8" style="text-align: center;">
								<input type="submit" class="btn btn-primary" th:value="#{bot.guardar}">
								<a class="btn btn-secondary" href="./autorizados" th:text="#{bot.cancelar}"></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:if="!${crear}" class="row">
	<div class="container my-5" align="center">
		<h5 align="center">Actualizar Autorizado</h5>
		<div class="card" style="width: 90%">
			<div class="card-body" style="text-align: left; width: 170%">
				<div class="col-md-10">
					<form action="#" th:object="${autorizadoPersonaJuridica}" method="post" enctype="multipart/form-data">
						<input type="hidden" th:value="${crear}" id="crear" name="crear"/>
						<script>
							$('form').on('submit',function(e) {e.preventDefault();
							processPostForm("agregarAutorizadoPersonaJuridica",this);});
						</script>
						<div class="row">
						<div class="col-md-5">
							<input type="hidden" name="idTipoAutorizado"
								id="idTipoAutorizado"
								th:value="${autorizadoPersonaJuridica.idTipoAutorizado}" />
							<input type="hidden" name="idAutorizado" id="idAutorizado"
								th:value="${autorizadoPersonaJuridica.idAutorizado}" />
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Tipo de
									Autorizado</label> <input type="text"
									value="Autorizado - Persona Juridica" class="form-control"
									id="nombre" maxlength=100 readonly>
							</div>
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Datos
									B&aacute;sicos</label>
							</div>
							<div class="form-group col-md-8">
								<label for="rifEmpresa" class="col-form-label">RIF
									Empresa</label>
								<div class="rif_row">
									<select th:field="*{caracterRifEmpresa}"
										id="caracterRifEmpresa" class="form-control caracter" readonly>
										<option selected value="J">J</option>
										<option value="G">G</option>
										<option value="C">C</option>
										<option value="V">V</option>
										<option value="E">E</option>
									</select> <input type="text" th:field="*{rifEmpresa}" oninput="soloNumeros(this)"
										class="form-control rif" id="rifEmpresa" placeholder="RIF"
										maxlength="9" readonly>
								</div>
								<span th:if="${#fields.hasErrors('rifEmpresa')}"
									th:errors="*{rifEmpresa}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nombreEmpresa" class="col-form-label">Nombre
									Empresa</label> <input type="text" th:field="*{nombreEmpresa}"
									class="form-control" id="nombreEmpresa" maxlength=100>
									<span th:if="${#fields.hasErrors('nombreEmpresa')}"
									th:errors="*{nombreEmpresa}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="tipoDocumentoAutorizado" class="col-form-label">Documento
									del Autorizado</label>
								<div class="rif_row">
									<select th:field="*{tipoDocumentoAutorizado}" id="tipoDocumentoAutorizado"
										class="form-control caracter" readonly>
			   							<option selected value="V">V</option>
										<option value="E">E</option>
										<option value="P">P</option>										
									</select> <input type="text" oninput="soloNumeros(this)"
										th:field="*{documentoAutorizado}" class="form-control rif"
										id="documentoAutorizado" placeholder="Numero de documento"
										maxlength="9" readonly/>
								</div>
								<span th:if="${#fields.hasErrors('documentoAutorizado')}"
									th:errors="*{documentoAutorizado}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nombreAutorizado" class="col-form-label">Nombre
									Autorizado </label> <input type="text" th:field="*{nombreAutorizado}"
									class="form-control" id="nombreAutorizado" maxlength=100>
								<span th:if="${#fields.hasErrors('nombreAutorizado')}"
									th:errors="*{nombreAutorizado}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="cargo" class="col-form-label">Cargo dentro de la Empresa
								</label> <input type="text" th:field="*{cargo}"
									class="form-control" id="cargo" maxlength=50>
									<span th:if="${#fields.hasErrors('cargo')}"
									th:errors="*{cargo}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="telefono" class="col-form-label">Tel&eacute;fono
									M&oacute;vil</label>
								<div class="rif_row">
									<select th:field="*{prefijoTelefono}" id="prefijoTelefono"
										class="form-control caracter">
			   							<option selected value="0412">0412</option>
										<option value="0414">0414</option>
										<option value="0424">0424</option>	
										<option value="0416">0416</option>										
										<option value="0426">0426</option>
									</select> 
									<input type="text" th:field="*{telefono}" oninput="soloNumeros(this)"
									class="form-control rif" placeholder="Numero de telefono" id="telefono" maxlength=7>
								</div>			
									<span th:if="${#fields.hasErrors('telefono')}"
									th:errors="*{telefono}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Correo
									electr&oacute;nico</label> <input type="text" th:field="*{email}"
									class="form-control" id="email" maxlength=150>
									<span th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}" class="text-danger"></span>
							</div>
							</div>
							<div class="col-md-5">
							<div class="form-group col-md-8 logo-row">
								<div class="logo-selector">
									<label for="documentoImg" class="col-form-label">Documento
										de Identidad (JPG, GIF o PNG)</label>
								    <div>
										<input type="button" class="btn btn-primary" onclick="document.getElementById('documentoImg').click()" value="Examinar"> 
										<input type="button" class="btn btn-primary" onclick="cleanImg('documentoImg','imgDocumentoAutorizado', 'imagenDocumento' )" value="Limpiar">
										<input type="file" th:field="*{documentoImg}" class="form-control" style="display: none" id="documentoImg" onchange="loadImage(event, 'documentoImgContainer', 'imagenDocumento', 'imgDocumentoAutorizado', 'documentoImgErrorServer', 'documentoImgErrorClient')">										
										<input type="hidden" th:field="*{imgDocumentoAutorizado}" id="imgDocumentoAutorizado"> 
										<input type="hidden" th:field="*{imagenDocumento}" id="imagenDocumento">
										<span id="documentoImgErrorServer" th:if="${#fields.hasErrors('documentoImg')}" th:errors="*{documentoImg}"	class="text-danger"></span> 
										<span id="documentoImgErrorClient"	style="display: none" class="text-danger"></span>
									</div>
								</div>
								<div class="logo-container" id="documentoImgContainer">
									<img th:if="${autorizadoPersonaJuridica.imagenDocumento}"
										id="imagenDocumento" class="logo-image"
										th:src="|data:image/jpg+gif+png;base64,${autorizadoPersonaJuridica.imagenDocumento}|">
								</div>
							</div>
							
							<div class="form-group col-md-8 logo-row">
								<div class="logo-selector">
									<label for="documentoRifImg" class="col-form-label">Documento
										RIF (JPG, GIF o PNG)</label>
									<div>
										<input type="button" class="btn btn-primary" onclick="document.getElementById('documentoRifImg').click()" value="Examinar">
										<input type="button" class="btn btn-primary" onclick="limpiarImagen('imgDocumentoRifAutorizado','documentoRifContainer');" value="Limpiar"> 											
										<input type="file"  th:field="*{documentoRifImg}" class="form-control" style="display: none" id="documentoRifImg" onchange="loadImage(event, 'documentoRifContainer', 'imagenDocumentoRif', 'imgDocumentoRifAutorizado', 'documentoImgRifErrorServer', 'documentoRifImgErrorClient')">
										<input type="hidden" th:field="*{imgDocumentoRifAutorizado}" id="imgDocumentoRifAutorizado"> 
										<input type="hidden" th:field="*{imagenDocumentoRif}" id="imagenDocumentoRif">
										<span id="documentoRifImgErrorServer" th:if="${#fields.hasErrors('documentoRifImg')}" th:errors="*{documentoRifImg}"	class="text-danger"></span> 
										<span id="documentoRifImgErrorClient"	style="display: none" class="text-danger"></span>
									</div>
								</div>
								<div class="logo-container" id="documentoRifContainer">
									<img th:if="${autorizadoPersonaJuridica.imagenDocumentoRif}"
										id="imagenDocumentoRif" class="logo-image"
										th:src="|data:image/jpg+gif+png;base64,${autorizadoPersonaJuridica.imagenDocumentoRif}|">
								</div>
							</div>
							<div class="form-group col-md-8 logo-row">
								<div class="logo-selector">
									<label for="documentoAdicionalImg" class="col-form-label">Documento
										Adicional (JPG, GIF o PNG)</label>
									<div>
										<input type="button" class="btn btn-primary" onclick="document.getElementById('documentoAdicionalImg').click()"	value="Examinar">
										<input type="button" class="btn btn-primary" onclick="limpiarImagen('imgDocumentoAdicionalAutorizado','documentoAdicionalContainer');" value="Limpiar"> 											
										<input type="file"   th:field="*{documentoAdicionalImg}" class="form-control" style="display: none" id="documentoAdicionalImg" onchange="loadImage(event, 'documentoAdicionalContainer', 'imagenDocumentoAdicional', 'imgDocumentoAdicionalAutorizado','documentoAdicionalImgErrorServer', 'documentoAdicionalImgErrorClient')">
										<input type="hidden" th:field="*{imgDocumentoAdicionalAutorizado}" id="imgDocumentoAdicionalAutorizado"> 
										<span id="documentoAdicionalImgErrorServer" th:if="${#fields.hasErrors('documentoAdicionalImg')}" th:errors="*{documentoAdicionalImg}"	class="text-danger"></span> 
										<span id="documentoAdicionalImgErrorClient"	style="display: none" class="text-danger"></span>
									</div>
								</div>
								<div class="logo-container" id="documentoAdicionalContainer">
									<img th:if="${autorizadoPersonaJuridica.imagenDocumentoAdicional}"
										id="imagenDocumentoAdicional" class="logo-image"
										th:src="|data:image/jpg+gif+png;base64,${autorizadoPersonaJuridica.imagenDocumentoAdicional}|">
								</div>
							</div>
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Datos del
									Veh&iacute;culo</label>
							</div>
							<div class="form-group col-md-8">
								<label for="placa" class="col-form-label">Placa</label> <input
									type="text" th:field="*{placa}" class="form-control" id="placa"
									maxlength=10>
									<span th:if="${#fields.hasErrors('placa')}"
									th:errors="*{placa}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="marcaModeloColor" class="col-form-label">Marca,
									Modelo y Color </label> <input type="text"
									th:field="*{marcaModeloColor}" class="form-control"
									id="marcaModeloColor" maxlength=100>
									<span th:if="${#fields.hasErrors('marcaModeloColor')}"
									th:errors="*{marcaModeloColor}" class="text-danger"></span>
							</div>
							</div>
							<div class="form-group col-md-8" style="text-align: center;">
								<input type="submit" class="btn btn-primary" value="Actualizar ">
								<a class="btn btn-secondary" href="./autorizados">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>