<th:block th:fragment=listadoUsuarios>

	<div class="container my-5">
		<h5 align="center">Listado de Usuarios</h5>
		<div class="card">
			<div class="card-body" align="center">
				<div th:switch="${usuarios}" class="container my-5">
					
					<input type="hidden" id="botonAgregar" value="H">
					 
					<p class="my-5"> 
						<a id="boton_agregar" href="usuarioMainAgregar" class="btn btn-secondary" title="Nuevo Usuario" tabindex="-1"> <i
									class="fas fa-user-plus ml-2"></i></a>
					</p>
					
					<div class="col-md-10">
						<h5 th:case="null">No Existen Usuarios</h5>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>E-Mail</th>
										<th>Habilitado</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="usuario : ${usuarios}">
										<td th:text="${usuario.nombreUsuario}"></td>
										<td th:text="${usuario.email}"></td>
										<div th:if="${usuario.habilitado}">
											<td th:text="Si"></td>
										</div>
										<div th:unless="${usuario.habilitado}">
											<td th:text="No"></td>
										</div>
										
										<div sec:authorize="hasRole('ADMIN')">
											<td>
												<form th:if="${!usuario.admin}" method="POST" th:action="@{usuarioEditar}" th:attr="id='form'+${usuario.idUsuario}">
													<input type="hidden" name="usuarioId" id="usuarioId" th:value="${usuario.idUsuario}" />
										            <button type="submit" name="submit"  class="btn btn-secondary">
										            	<i class="fas fa-user-edit ml-2" ></i>
										            </button>										           										            
										        </form>
											</td>											
											<td>
											<div th:if="${!usuario.admin}">
												<button type="button" title="Eliminar" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${usuario.idUsuario}"><i class="fas fa-user-times ml-2"></i></button>
										        <!-- Logout Modal-->
												<div class="modal fade" th:attr="id='recordDeleteModal'+${usuario.idUsuario}" tabindex="-1" role="dialog"
													aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
														
															<div class="modal-header" style="text-align: right;">
																<h5 class="modal-title" id="recordDeleteModalLabel">&iquest;Esta seguro(a) que desea eliminar el usuario?</h5>
																<button class="close" type="button" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">x</span>
																</button>
															</div>
															<div class="modal-body"></div>
																<form method="POST" th:action="@{usuarioEliminar}" th:attr="id='form'+${usuario.idUsuario}">
																	<div style="text-align: center;">
																		<button class="btn btn-secondary" type="button" data-dismiss="modal" style="height:40px;width:100px">
																			No
																		</button>
																		<input type="hidden" name="usuarioId" id="usuarioId" th:value="${usuario.idUsuario}" />
											            				<button type="submit" name="submit"  class="btn btn-primary" style="height:40px;width:100px">
											            					Si
											            				</button>
										            				</div>										           										            
										        				</form>
															
															<br/>
														</div>
													</div>
											    </div>											    
											    
											</div>
										    </td>
										</div>
										
										<div sec:authorize="hasRole('ADMIN_BECA')">
											<td>
												<form th:if="${usuario.admin}" method="POST" th:action="@{usuarioEditar}" th:attr="id='form'+${usuario.idUsuario}">
													<input type="hidden" name="usuarioId" id="usuarioId" th:value="${usuario.idUsuario}" />
										            <button type="submit" name="submit"  class="btn btn-secondary">
										            	<i class="fas fa-user-edit ml-2" ></i>
										            </button>										           										            
										        </form>										
											</td>
											
											<td>
											<div th:if="${usuario.admin}">
												<button type="button" title="Eliminar" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${usuario.idUsuario}"><i class="fas fa-user-times ml-2"></i></button>
										        <!-- Logout Modal-->
												<div class="modal fade" th:attr="id='recordDeleteModal'+${usuario.idUsuario}" tabindex="-1" role="dialog"
													aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
														
															<div class="modal-header" style="text-align: right;">
																<h5 class="modal-title" id="recordDeleteModalLabel">&iquest;Esta seguro(a) que desea eliminar el usuario?</h5>
																<button class="close" type="button" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">x</span>
																</button>
															</div>
															<div class="modal-body"></div>
																<form method="POST" th:action="@{usuarioEliminar}" th:attr="id='form'+${usuario.idUsuario}">
																	<div style="text-align: center;">
																		<button class="btn btn-secondary" type="button" data-dismiss="modal" style="height:40px;width:100px">
																			No
																		</button>
																		<input type="hidden" name="usuarioId" id="usuarioId" th:value="${usuario.idUsuario}" />
											            				<button type="submit" name="submit"  class="btn btn-primary" style="height:40px;width:100px">
											            					Si
											            				</button>
										            				</div>										           										            
										        				</form>														
															<br/>
														</div>
													</div>
											    </div>
											</div>
										    </td>
											<script>document.getElementById("botonAgregar").value = "D";</script>											
										</div>
									</tr>
								</tbody>
							</table>
							<script>
							var nombre = document.getElementById("botonAgregar").value;
								
							if(nombre == "D")
									document.getElementById("boton_agregar").className += " disabled"; 
							</script>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


</th:block>



<th:block th:fragment="updateUsuario">
<div class="container my-5">
        <h5 align="center">Actualizaci&oacute;n de Usuario</h5>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/usuarioUpdate}" th:object="${usuario}" method="post">
                        <div class="row">
                        	<input type="hidden" name="usuarioId" id="usuarioId" th:value="${usuario.idUsuario}" />
                            <input type="hidden" th:field="*{nombreUsuario}" class="form-control" id="nombreUsuario">
                       	
                        	<div class="form-group col-md-8">
                                <label for="contrasena" class="col-form-label">Contrase&ntilde;a</label> <input type="password" th:field="*{contrasena}"  class="form-control"  id="contrasena" placeholder="Contrase&ntilde;a"> <span th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="repitaContrasena" class="col-form-label">Repita Contrase&ntilde;a</label> <input type="password" th:field="*{repitaContrasena}"  class="form-control"  id="repitaContrasena" placeholder="Repita Contrase&ntilde;a"> <span th:if="${#fields.hasErrors('repitaContrasena')}" th:errors="*{repitaContrasena}" class="text-danger"></span>
                            </div> 
                            <div class="form-group col-md-8">
                                <label for="nombreCompleto" class="col-form-label">Nombre Completo</label> <input type="text" th:field="*{nombreCompleto}" class="form-control" id="nombreCompleto" placeholder="Nombre Completo"> <span th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">E-mail</label> <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="E-mail"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="habilitado" class="col-form-label">Habilitado</label> 
                                
                                <input type="hidden" value="on" name="_habilitado"/>
							    <input type="checkbox" name="habilitado" onchange="getHabilitado(this)" th:checked="${usuario.habilitado}"/>
							    
                            </div>
                            <div class="form-group col-md-8" Style="text-align: center;">
                            	<input type="submit" class="btn btn-primary" value="Guardar">
                            	<a class="btn btn-secondary" href="./usuarioHome">Cancelar</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="cambioContrasena">
<div class="container my-5">
        <h5 align="center">Cambio de Contrase&ntilde;a</h5>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/usuarioChange}" th:object="${usuario}" method="post">
                        <div class="row">
                        	<input type="hidden" name="usuarioId" id="usuarioId" th:value="${usuario.idUsuario}" />
                            <input type="hidden" th:field="*{nombreUsuario}" class="form-control" id="nombreUsuario" value="a">
                            <input type="hidden" th:field="*{email}" class="form-control" id="email" value="a@a">
                            <input type="hidden" th:field="*{nombreCompleto}" class="form-control" id="nombreCompleto" value="a">
                            <input type="hidden" th:field="*{contrasena1}" class="form-control" id="contrasena1">
                            
                        	<div class="form-group col-md-8">
                                <label for="contrasena" class="col-form-label">Contrase&ntilde;a Actual</label> <input type="password" th:field="*{contrasena}"  class="form-control"  id="contrasena" placeholder="Contrase&ntilde;a"> <span th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="nuevaContrasena" class="col-form-label">Nueva Contrase&ntilde;a</label> <input type="password" th:field="*{nuevaContrasena}"  class="form-control"  id="nuevaContrasena" placeholder="Nueva Contrase&ntilde;a"> <span th:if="${#fields.hasErrors('nuevaContrasena')}" th:errors="*{nuevaContrasena}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="repitaContrasena" class="col-form-label">Repita Contrase&ntilde;a</label> <input type="password" th:field="*{repitaContrasena}"  class="form-control"  id="repitaContrasena" placeholder="Repita Contrase&ntilde;a"> <span th:if="${#fields.hasErrors('repitaContrasena')}" th:errors="*{repitaContrasena}" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group col-md-8" style="text-align: center;">
                            	<input type="submit" class="btn btn-primary" value="Guardar">
                            	<a class="btn btn-secondary" href="./main">Cancelar</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="addUsuario">
<div class="container my-5">
        <h5 align="center">Creaci&oacute;n de Usuario</h5>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/usuarioAgregar}" th:object="${usuario}" method="post">
                        <div class="row">

                            <div class="form-group col-md-8">
                                <label for="nombreUsuario" class="col-form-label">Usuario</label> <input type="text" th:field="*{nombreUsuario}" class="form-control" id="nombreUsuario" placeholder="Nombre Usuario"> <span th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="contrasena" class="col-form-label">Contrase&ntilde;a</label> <input type="password" th:field="*{contrasena}"  class="form-control"  id="contrasena" placeholder="Contrase&ntilde;a"> <span th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="repitaContrasena" class="col-form-label">Repita Contrase&ntilde;a</label> <input type="password" th:field="*{repitaContrasena}"  class="form-control"  id="repitaContrasena" placeholder="Repita Contrase&ntilde;a"> <span th:if="${#fields.hasErrors('repitaContrasena')}" th:errors="*{repitaContrasena}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="nombreCompleto" class="col-form-label">Nombre Completo</label> <input type="text" th:field="*{nombreCompleto}" class="form-control" id="nombreCompleto" placeholder="Nombre Completo"> <span th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">E-mail</label> <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="E-mail"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="habilitado" class="col-form-label">Habilitado</label>                                
                                <input type="hidden" value="on" name="_habilitado"/>
							    <input type="checkbox" name="habilitado" onchange="getHabilitado(this)" th:checked="${usuario.habilitado}"/>

                            </div>
                            <div class="form-group col-md-8" style="text-align: center;">
                            	<input type="submit" class="btn btn-primary" value="Guardar">
                            	<a class="btn btn-secondary" href="./usuarioHome">Cancelar</a>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>