<th:block th:fragment="listaEmpresas">
	<div th:if="${param.success}">
		<div class="alert alert-info">Operaci&oacute;n Realizada Exitosamente</div>
	</div>
	<div th:if="${param.error}">
		<div class="alert alert-danger" th:text="#{msj.operacion.fallida}"></div>
	</div>
	<div class="container my-5">
		<h5 align="center">Listado de Empresas</h5>
		<div class="card">
			<div class="card-body" align="center">
				<div th:switch="${Empresas}" class="container my-5">
					<p class="my-5">
						<a id="boton_agregar" onclick="getRecords('crearEmpresa')" style="cursor: hand;"
							class="btn btn-secondary" th:title="#{msj.empresa.crear}"
							tabindex="-1"> <i class="fas fa-plus-circle"></i></a>
					</p>

					<div class="col-md-10">
						<h5 th:case="null" th:title="#{msj.empresa.vacia}"></h5>
						<div th:case="*">
							<table id="tabla"
							
							class="table table-striped table-responsive-md table-hover">
								<thead>
								
								
									<tr>
										<td colspan="5"><input id="buscar" type="text"
											class="form-control" placeholder="Buscador de Empresas" />
										</td>
									</tr>
									<tr>
										<th th:text="#{etq.rif}"></th>
										<th th:text="#{etq.nombre}"></th>
										<th th:text="#{etq.estatus}"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="Empresa : ${Empresas}" style="cursor: pointer;" data-field="name" class="tool-tip" title="Clic para editar"
										th:onclick="|editarEmpresa('${Empresa.idEmpresa}')|">
										<td th:text="${Empresa.caracterRif + Empresa.rif}"></td>
										<td th:text="${Empresa.nombre}"></td>
										<td th:text="${Empresa.estatus}"></td>
									</tr>
								</tbody>
							</table>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>