<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="es">

<head>


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title th:text="#{titulo}"></title>

<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />
<link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css"
	th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">
<link href="css/fonts-family-nunito.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}"
	rel="stylesheet">
	
<link href="css/listbox.css" th:href="@{/css/listbox.css}"
	rel="stylesheet">

</head>

<body id="page-top">


	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->

		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<th:block th:replace="fragments/header :: header" />
				<th:block th:replace="fragments/menu :: menuSuperior" />
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="container my-5">
						<h5 align="center"><span th:text="${edit} ? #{etq.perfiles.editar} : #{etq.perfiles.crear}" ></span></h5>
						<div class="card">
							<div class="card-body" >
								<form  th:action="${edit} ? 'editRole' : 'createRole'"  th:object="${rol}" method="post">
									<table>
										<tr>
											<td colspan="10">
											<div class="form-group col-md-8" style="text-align: left;">
				                                <label for="nombreRol" class="col-form-label" th:text="#{etq.nombre}"></label> 
				                                <input type="text"  class="form-control" id="nombreRol" th:field="*{nombreRol}" th:disabled="${edit} ? 'true' : 'false'">
				                                <input type="hidden" name="rolId" id="rolId" th:value="${rol.idRol}" />
				                                <input type="hidden" name="gestionarRoles" id="gestionarRoles" th:value="${gestionarRoles}" />
				                                <span th:if="${#fields.hasErrors('nombreRol')}" th:errors="*{nombreRol}" class="text-danger"></span>
				                            </div>
											</td>
										</tr>
										<tr>
											<td colspan="10"><br/></td>
										</tr>
										<tr>
											<td colspan="5"><h5 align="center" th:text="#{etq.menu.opciones}"></h5></td>
											<td colspan="5"><h5 align="center" th:text="#{etq.usuarios}"></h5>	</td>
										</tr>
										<tr>
											<td style="width: 1%"></td>									
											<td style="width: 25%">
												<div class="subject-info-box-1" style="width: 100%">
												  <select  multiple="multiple" id='lstBox1' class="form-control"  style="height: 400px;" th:disabled="${result}=='success' ? 'true': 'false'">
												    <option th:each="opcion : ${opciones}" th:value="${opcion.idMenu}" th:text="${opcion.nombreOpcion}" ></option>
												  </select>
												</div>
											</td>
											<td>
												<div class="subject-info-arrows text-center" style="width: 100%">												  
												  <input type='button' id='btnRight' value='>' class="btn btn-default" onclick="pasarLista1_Lista2('lstBox1', 'lstBox2');"/><br />
												  <input type='button' id='btnLeft' value='<' class="btn btn-default" onclick="pasarLista1_Lista2('lstBox2', 'lstBox1');"/><br />												  
												</div>										
											</td>
											<td style="width: 25%">
												<div class="subject-info-box-2" id="DivlstBox2" th:style="${#fields.hasErrors('opciones')} ? 'border: 1px solid red; width: 100%;' : 'width: 100%'">
												  <select multiple="multiple" id='lstBox2' class="form-control" style="height: 400px;"  th:field="*{opciones}" th:disabled="${result}=='success' ? 'true': 'false'">
												  	<option value="1" hidden="true"></option>
												  	<option th:each="opcion : ${opcionesSelect}" th:value="${opcion.idMenu}" th:text="${opcion.nombreOpcion}" ></option>
												  </select>
												</div>										
											</td>
											<td colspan="2" style="width: 5%"></td>
											<td style="width: 17%">
												<div class="subject-info-box-1" style="width: 100%">
												  <select multiple="multiple" id='lstBox3' class="form-control"  style="height: 400px;" th:disabled="${result}=='success' ? 'true': 'false'">
												    <option th:each ="usuario : ${Usuarios}" th:value="${usuario.idUsuario}" th:text="${usuario.nombreUsuario}"></option>
												  </select>
												</div>										
											</td>
											<td >
												<div class="subject-info-arrows text-center" style="width: 100%">												  
												  <input type='button' id='btnRight' value='>' class="btn btn-default" onclick="pasarLista1_Lista2('lstBox3', 'lstBox4');"/><br />
												  <input type='button' id='btnLeft' value='<' class="btn btn-default" onclick="pasarLista1_Lista2('lstBox4', 'lstBox3');"/><br />												  
												</div>										
											</td>
											<td style="width: 17%">
												<div class="subject-info-box-2" id="DivlstBox4" th:style="${#fields.hasErrors('Usuarios')} ? 'border: 1px solid red; width: 100%;' : 'width: 100%'">
												  <select multiple="multiple" id='lstBox4' class="form-control" style="height: 400px;"  th:field="*{usuarios}" th:disabled="${result}=='success' ? 'true': 'false'">
													<option th:each ="usuario : ${usuariosSelect}" th:value="${usuario.idUsuario}" th:text="${usuario.nombreUsuario}"></option>
												  </select>
												</div>										
											</td>
											<td style="width: 1%"></td>
										</tr>
										<tr>
										<td colspan="5" align="center">
										<span th:if="${#fields.hasErrors('opciones')}" th:errors="*{opciones}" class="text-danger"></span>
										</td>
										<td colspan="5" align="center">
										<span th:if="${#fields.hasErrors('Usuarios')}" th:errors="*{Usuarios}" class="text-danger"></span>
										</td>											
										</tr>
										<tr>
											<td colspan="10">
												<br/>
									            <div class="form-group" style="text-align: center; flex: 0 0 100% !important;">
					                            	<button class="btn btn-primary" value="Guardar" onclick="seleccionarTodos();" th:text="#{bot.guardar}"></button>	
					                            	<a class="btn btn-secondary" href="./roleHome" th:text="#{bot.cancelar}"></a>
					                            </div>										
											</td>
										</tr>
									</table>
								</form>
							</div>
						</div>
					</div>
				<!-- /.container-fluid -->
				</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<th:block th:replace="fragments/footer :: footer" />
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->
</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"
		th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"
		th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"
		th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		
	<script src="js/listbox.js"
		th:src="@{/js/listbox.js}"></script>
	
	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>
	<script >
	$(document).ready(function(){
		var modal = $('#modal1');
		if(modal != null){
			modal.trigger('click');
		}
		limpiarTodos();
	});
	
	</script>

</body>

</html>
