<th:block th:fragment=perfilesCrearEditar>
	<div class="container my-5">
		<h5 align="center"><span th:text="${edit} ? #{etq.perfiles.editar} : #{etq.perfiles.crear}" ></span></h5>
		<div class="card">
			<div class="card-body" >
				<form  th:action="${edit} ? 'editRole' : 'createRole'"  th:object="${rol}" method="post">
					<table>
						<tr>
							<td colspan="10">
							<div class="form-group col-md-8" style="text-align: left;">
                                <label for="nombreRol" class="col-form-label" th:text="#{etq.nombre}"></label> 
                                <input type="text"  class="form-control" id="nombreRol" th:field="*{nombreRol}" th:disabled="${edit} ? 'true' : 'false'">
                                <input type="hidden" name="rolId" id="rolId" th:value="${rol.idRol}" />
                                <input type="hidden" name="gestionarRoles" id="gestionarRoles" th:value="${gestionarRoles}" />
                                <span th:if="${#fields.hasErrors('nombreRol')}" th:errors="*{nombreRol}" class="text-danger"></span>
                            </div>
							</td>
						</tr>
						<tr>
							<td colspan="10"><br/></td>
						</tr>
						<tr>
							<td colspan="5"><h5 align="center" th:text="#{etq.menu.opciones}"></h5></td>
							<td colspan="5"><h5 align="center" th:text="#{etq.usuarios}"></h5>	</td>
						</tr>
						<tr>
							<td style="width: 1%"></td>									
							<td style="width: 25%">
								<div class="subject-info-box-1" style="width: 100%">
								  <select  multiple="multiple" id='lstBox1' class="form-control"  style="height: 400px;" th:disabled="${result}=='success' ? 'true': 'false'">
								    <option th:each="opcion : ${opciones}" th:value="${opcion.idMenu}" th:text="${opcion.nombreOpcion}" ></option>
								  </select>
								</div>
							</td>
							<td>
								<div class="subject-info-arrows text-center" style="width: 100%; cursor: pointer;">												  
								  	<i class='fas fa-arrow-circle-right' onclick="pasarLista1_Lista2('lstBox1', 'lstBox2');" ></i><br />
								 	<i class='fas fa-arrow-circle-left' onclick="pasarLista1_Lista2('lstBox2', 'lstBox1');"></i><br />													  
								</div>										
							</td>
							<td style="width: 25%">
								<div class="subject-info-box-2" id="DivlstBox2" th:style="${#fields.hasErrors('opciones')} ? 'border: 1px solid red; width: 100%;' : 'width: 100%'">
								  <select multiple="multiple" id='lstBox2' class="form-control" style="height: 400px;"  th:field="*{opciones}" th:disabled="${result}=='success' ? 'true': 'false'">
								  	<option value="1" hidden="true"></option>
								  	<option th:each="opcion : ${opcionesSelect}" th:value="${opcion.idMenu}" th:text="${opcion.nombreOpcion}" ></option>
								  </select>
								</div>										
							</td>
							<td colspan="2" style="width: 5%"></td>
							<td style="width: 17%">
								<div class="subject-info-box-1" style="width: 100%">
								  <select multiple="multiple" id='lstBox3' class="form-control"  style="height: 400px;" th:disabled="${result}=='success' ? 'true': 'false'">
								    <option th:each ="usuario : ${Usuarios}" th:value="${usuario.idUsuario}" th:text="${usuario.nombreUsuario}"></option>
								  </select>
								</div>										
							</td>
							<td >
								<div class="subject-info-arrows text-center" style="width: 100%; cursor: pointer;">												  
								  	<i class='fas fa-arrow-circle-right' onclick="pasarLista1_Lista2('lstBox3', 'lstBox4');" ></i><br />
								 	<i class='fas fa-arrow-circle-left' onclick="pasarLista1_Lista2('lstBox4', 'lstBox3');"></i><br />													  
								</div>										
							</td>
							<td style="width: 17%">
								<div class="subject-info-box-2" id="DivlstBox4" th:style="${#fields.hasErrors('Usuarios')} ? 'border: 1px solid red; width: 100%;' : 'width: 100%'">
								  <select multiple="multiple" id='lstBox4' class="form-control" style="height: 400px;"  th:field="*{usuarios}" th:disabled="${result}=='success' ? 'true': 'false'">
									<option th:each ="usuario : ${usuariosSelect}" th:value="${usuario.idUsuario}" th:text="${usuario.nombreUsuario}"></option>
								  </select>
								</div>										
							</td>
							<td style="width: 1%"></td>
						</tr>
						<tr>
						<td colspan="5" align="center">
						<span th:if="${#fields.hasErrors('opciones')}" th:errors="*{opciones}" class="text-danger"></span>
						</td>
						<td colspan="5" align="center">
						<span th:if="${#fields.hasErrors('Usuarios')}" th:errors="*{Usuarios}" class="text-danger"></span>
						</td>											
						</tr>
						<tr>
							<td colspan="10">
								<br/>
					            <div class="form-group" style="text-align: center; flex: 0 0 100% !important;">
	                            	<button class="btn btn-primary" value="Guardar" onclick="seleccionarTodos();" th:text="#{bot.guardar}"></button>	
	                            	<a class="btn btn-secondary" href="./roleHome" th:text="#{bot.cancelar}"></a>
	                            </div>										
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</th:block>


<th:block th:fragment=listadoRoles>

	<div class="container my-5">
		<h5 align="center" th:text="#{etq.perfiles.listado}"></h5>
		<div class="card">
			<div class="card-body" align="center">
				<div th:switch="${roles}" class="container my-5">
					
					<input type="hidden" id="botonAgregar" value="H">
					 
					<p class="my-5"> 
						<form method="POST" th:action="@{createRoleHome}" >													
							<input type="hidden" name="gestionarRoles" id="gestionarRoles" th:value="${gestionarRoles}" />
				            <button  type="submit" name="createRole"  class="btn btn-secondary" th:title="#{tooltip.crear.perfil}">
				            	<i class="fas fa-plus"></i>
				            </button>										           										            
				        </form>
					</p>
					
					<div class="col-md-10">
						<h5 th:case="null"  th:text="#{msj.perfiles.inexistentes}"></h5>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th th:text="#{etq.nombre}"></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="rol : ${roles}">
										<td th:text="${rol.rol}"></td>
										<div sec:authorize="hasRole('ADMIN')">
											<td>
												<form method="POST" th:action="@{editRoleHome}" th:attr="id='form'+${rol.idRol}">
													<input type="hidden" name="rolId" id="rolId" th:value="${rol.idRol}" />
													<input type="hidden" name="gestionarRoles" id="gestionarRoles" th:value="${gestionarRoles}" />
										            <button th:if="${rol.rol}!='ADMIN'" type="submit" name="submit"  th:title="#{tooltip.editar.perfil}" class="btn btn-secondary">										            	
										            	<i class="fas fa-pen"></i>
										            </button>										           										            
										        </form>
											</td>											
											<td>
											<div>
												<button th:if="${rol.rol}!='ADMIN'" type="button" th:title="#{tooltip.eliminar.perfil}" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${rol.idRol}"><i class="fas fa-trash"></i></button>
										        <!-- Logout Modal-->
												<div class="modal fade" th:attr="id='recordDeleteModal'+${rol.idRol}" tabindex="-1" role="dialog"
													aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
														
															<div class="modal-header" style="text-align: right;">
																<h5 class="modal-title" id="recordDeleteModalLabel"  th:text="#{msj.perfiles.confirma.eliminar}"></h5>
																<button class="close" type="button" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">x</span>
																</button>
															</div>
															<div class="modal-body"></div>
																<form method="POST" th:action="@{deleteRole}" th:attr="id='form'+${rol.idRol}">
																	<div style="text-align: center;">
																		<button class="btn btn-secondary" type="button" data-dismiss="modal" style="height:40px;width:100px" th:text="#{msj.no}">
																		</button>
																		<input type="hidden" name="rolId" id="rolId" th:value="${rol.idRol}" />
											            				<button type="submit" name="submit"  class="btn btn-primary" style="height:40px;width:100px" th:text="#{msj.si}">
											            				</button>
										            				</div>										           										            
										        				</form>
															
															<br/>
														</div>
													</div>
											    </div>											    
											    
											</div>
										    </td>
										</div>
										
										<div sec:authorize="hasRole('ADMIN_BECA')">
											<td>
												<form  method="POST" th:action="@{editRoleHome}" th:attr="id='form'+${rol.idRol}">
													<input type="hidden" name="rolId" id="rolId" th:value="${rol.idRol}" />
													<input type="hidden" name="gestionarRoles" id="gestionarRoles" th:value="${gestionarRoles}" />
										            <button type="submit" name="submit"  title="Editar" class="btn btn-secondary">
										            	<i class="far fa-edit ml-2" ></i>
										            </button>										           										            
										        </form>										
											</td>
											
											<td>
											<div>
												<button type="button" title="Eliminar" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${rol.idRol}"><i class="fas fa-user-times ml-2"></i></button>
										        <!-- Logout Modal-->
												<div class="modal fade" th:attr="id='recordDeleteModal'+${rol.idRol}" tabindex="-1" role="dialog"
													aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
														
															<div class="modal-header" style="text-align: right;">
																<h5 class="modal-title" id="recordDeleteModalLabel" th:text="#{msj.perfiles.confirma.eliminar}"></h5>
																<button class="close" type="button" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">x</span>
																</button>
															</div>
															<div class="modal-body"></div>
																<form method="POST" th:action="@{usuarioEliminar}" th:attr="id='form'+${rol.idRol}">
																	<div style="text-align: center;">
																		<button class="btn btn-secondary" type="button" data-dismiss="modal" style="height:40px;width:100px" th:text="#{msj.no}">
																		</button>
																		<input type="hidden" name="rolId" id="rolId" th:value="${rol.idRol}" />
											            				<button type="submit" name="submit"  class="btn btn-primary" style="height:40px;width:100px" th:text="#{msj.si}">
											            				</button>
										            				</div>										           										            
										        				</form>														
															<br/>
														</div>
													</div>
											    </div>
											</div>
										    </td>										
										</div>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>



<th:block th:fragment="listadoRolesUsuario">
	<div class="card-body" >
		<table>
			<tr>
				<td colspan="5"><h5 align="center" th:text="#{etq.perfiles}"></h5></td>
			</tr>
			<tr>
				<td colspan="2.5" align="center" th:text="#{etq.disponibles}"></td>
				<td colspan="2.5" align="center" th:text="#{etq.asignados}"></td>
			</tr>
			<tr>
				<td style="width: 2%"></td>					
				<td style="width: 45%">
					<div class="subject-info-box-1">
					  <select  multiple="multiple" id='lstBox1' class="form-control"  style="height: 200px;" >
					    <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.rol}"></option>
					  </select>
					</div>
				</td>
				<td style="width: 6%">
					<div class="subject-info-arrows text-center">												  
					  <input type='button' id='btnRight' value='->' class="btn btn-default" onclick="pasarLista1_Lista2('lstBox1', 'lstBox2');"/><br />
					  <input type='button' id='btnLeft' value='<-' class="btn btn-default" onclick="pasarLista1_Lista2('lstBox2', 'lstBox1');"/><br />												  
					</div>										
				</td>
				<td style="width: 45%">
					<div class="subject-info-box-2" >
					  <select multiple="multiple" id='lstBox2' class="form-control" style="height: 200px;"  th:field="*{perfiles}">					  
					  	<option th:each="rol : ${rolesSelect}" th:value="${rol.idRol}" th:text="${rol.rol}"></option>					  	
					  </select>
					</div>										
				</td>
				<td style="width: 2%"></td>
			</tr>
		</table>
	</div>
</th:block>

<th:block th:fragment=perfilesCrearEditarInterno>
	<div class="container my-5">
		<h5 align="center"><span th:text="${edit} ? #{etq.perfiles.editar} : #{etq.perfiles.crear}" ></span></h5>
		<div class="card">
			<div class="card-body" >
				<form  th:action="${edit} ? 'editRole' : 'createRole'"  th:object="${rol}" method="post">
					<table>
						<tr>
							<td colspan="10">
							<div class="form-group col-md-8" style="text-align: left;">
                                <label for="nombreRol" class="col-form-label" th:text="#{etq.nombre}"></label> 
                                <input type="text"  class="form-control" id="nombreRol" th:field="*{nombreRol}" th:disabled="${edit} ? 'true' : 'false'">
                                <input type="hidden" name="rolId" id="rolId" th:value="${rol.idRol}" />
                                <input type="hidden" name="gestionarRoles" id="gestionarRoles" th:value="${gestionarRoles}" />
                                <span th:if="${#fields.hasErrors('nombreRol')}" th:errors="*{nombreRol}" class="text-danger"></span>
                            </div>
							</td>
						</tr>
						<tr>
							<td colspan="10"><br/></td>
						</tr>
						<tr>
							<td colspan="10"><h5 align="center" th:text="#{etq.menu.opciones}"></h5></td>
						</tr>
						<tr>
							<td style="width: 5%"></td>									
							<td style="width: 40%">
								<div class="subject-info-box-1" style="width: 100%">
								  <select  multiple="multiple" id='lstBox1' class="form-control"  style="height: 400px;" th:disabled="${result}=='success' ? 'true': 'false'">
								    <option th:each="opcion : ${opciones}" th:value="${opcion.idMenu}" th:text="${opcion.nombreOpcion}" ></option>
								  </select>
								</div>
							</td>
							<td>
								<div class="subject-info-arrows text-center" style="width: 100%; cursor: pointer;">												  
								  	<i class='fas fa-arrow-circle-right' onclick="pasarLista1_Lista2('lstBox1', 'lstBox2');" ></i><br />
								 	<i class='fas fa-arrow-circle-left' onclick="pasarLista1_Lista2('lstBox2', 'lstBox1');"></i><br />													  
								</div>										
							</td>
							<td style="width: 40%">
								<div class="subject-info-box-2" id="DivlstBox2" th:style="${#fields.hasErrors('opciones')} ? 'border: 1px solid red; width: 100%;' : 'width: 100%'">
								  <select multiple="multiple" id='lstBox2' class="form-control" style="height: 400px;"  th:field="*{opciones}" th:disabled="${result}=='success' ? 'true': 'false'">
								  	<option value="1" hidden="true"></option>
								  	<option th:each="opcion : ${opcionesSelect}" th:value="${opcion.idMenu}" th:text="${opcion.nombreOpcion}" ></option>
								  </select>
								</div>										
							</td>
							<td style="width: 5%"></td>
						</tr>
						<tr>
						<td colspan="10" align="center">
						<span th:if="${#fields.hasErrors('opciones')}" th:errors="*{opciones}" class="text-danger"></span>
						</td>
						<td colspan="10" align="center">
						<span th:if="${#fields.hasErrors('Usuarios')}" th:errors="*{Usuarios}" class="text-danger"></span>
						</td>											
						</tr>
						<tr>
							<td colspan="10">
								<br/>
					            <div class="form-group" style="text-align: center; flex: 0 0 100% !important;">
	                            	<button class="btn btn-primary" value="Guardar" onclick="seleccionarTodos();" th:text="#{bot.guardar}"></button>	
	                            	<a class="btn btn-secondary" href="./gestionarRoles" th:text="#{bot.cancelar}"></a>
	                            </div>										
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</th:block>
