<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
  <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

  <title></title>

  <!-- Custom fonts for this template -->
  	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  	<link href="css/fonts-family-nunito.css" rel="stylesheet">

  <!-- Custom styles for this template -->
    <link href="css/jquery-ui.1.12.1.css" rel="stylesheet">
  	<link href="css/sb-admin-2.min.css" rel="stylesheet">


  <!-- Custom styles for this page -->
  	<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript-->
  	<script src="vendor/jquery/jquery.min.js"></script>
  	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  
  	<script src="js/jquery-ui.min.1.12.1.js"></script>
	<script src="js/datatable.js"></script>
	<script src="js/disponibilidadAgenciaDia.js"></script>

	<link rel="stylesheet" href="css/bootnavbar.css">
</head>

<body id="page-top" onload="cargarFecha()">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->

		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<th:block th:replace="fragments/header :: header" />
				<th:block th:replace="fragments/menu :: menuSuperior" />
				<!-- End of Topbar -->


				<!-- Begin Page Content -->
		
          <div class="card shadow mb-4" style="font-size: 13px !important" id="disponibilidadAgenciaDiaContainer">
            <div class="card-header py-3" style="float: right;">
					<table style="width: 100%" border="0">
						<tbody>
							<tr >
								<td style="text-align: center;" colspan="5"><h4>Disponibilidad de Agencias</h4></td>
							</tr>	
						</tbody>
					</table>
            </div>
            
            <div>
	            <table style="width: 100%">
					<tbody>
						<tr>
							<td style="text-align: center;" >
						
								<label>Fecha:</label>&nbsp;&nbsp;<input type="text" id="fechaI" name="fechaI" class="form-control-sm form-control-warning" style="font-size: 13px;" readonly="readonly">
								&nbsp;&nbsp;<button class="btn btn-dark" type="button" id="ver" onclick="verAgencias();">Ver</button>
								
							</td>
							<td>	
							</td>												
						</tr>
						<tr>
						</tr>
					</tbody>
				</table>
            </div>
            
        
          </div>
			</div>
			<br><br><br>
			<!-- End of Main Content -->

			<!-- Footer -->
			<th:block th:replace="fragments/footer :: footer" />
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header">
      <img alt="error" src="img/error.png" height="40px" width="40px"> 
      <h5 class="modal-title" id="exampleModalLongTitle" style="text-align: center !important;">Error en los datos ingresados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbody">        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<script src="js/bootnavbar.js" ></script>
<script th:inline="javascript">
			/*<![CDATA[*/
			var feriados = /*[[${feriados}]]*/ 'default';
			$(function () {
				$("#fechaI").datepicker({
					
					minDate: "0d",
					maxDate: "35d",
					dateFormat: 'dd/mm/yy',
					daysOfWeekDisabled: [0, 6],
					beforeShowDay: function (date) {
						var dmy = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
						var day = date.getDay();
						//alert(fechaI);		
						if ($.inArray(dmy, feriados) === -1 && day !== 0 && day !== 6) {
							return [true, ""];
						} else {
							return [false, "", "Unavailable"];
						}
					}
				});
			});
		/*]]>*/
		</script>
</body>
</html>
