
<th:block th:fragment="footer">
    <footer>
        <!-- <div class="container" align="center">
            <p>
                &copy; Eficiencia Operativa 2019
                 
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
                
            </p>
        </div> -->
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Banco Exterior 2020</span>
          </div>
        </div>
    </footer>

  <!--    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script> -->

</th:block>
