
<th:block th:fragment="header">
<!-- Topbar -->
	<nav class="navbar navbar-expand navbar-light bg-gray-300 topbar mb-1 static-top shadow" >
		<div style="width: 50%; height: 100%">
			<a href="main">
				<img th:src="@{/img/exterior_60.png}" alt="BECA" width="50%" height="100%" style="margin-left: 1%"/>
			</a>
		</div>
		<!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session?.Usuario?.nombreCompleto}"></span>
                <img class="img-profile rounded-circle" th:src="@{/img/user_orange.png}" alt="memorynotfound user">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
		          <a  th:each="menu : ${menues}" th:if="${menu.tipoMenu}=='U'" class="dropdown-item" th:href="${menu.accion}" th:id="${menu.accion}+'l'">
		          	<i  th:class="${menu.icono}"></i>
		          	<span th:text="${menu.nombreOpcion}"></span>
		          </a>
		        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt"></i>
                  <span th:text="#{msj.cerrar.sesion}"></span>
                </a>
              </div>
            </li>			
          </ul>
     </nav>     
     <!-- End of Topbar -->
		<th:block th:replace="fragments/modals :: sessionModal" />
		<th:block th:replace="fragments/modals :: logoutModal" />
		<th:block th:replace="fragments/modals :: spinnerModal" />
		<!-- <th:block th:replace="modals/validarOtpModal :: validarOtpModal" />-->
		<script src="js/sessionCheck.js"></script>		
</th:block>
