
<th:block th:fragment="header">

   		<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-gray-300 topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Navbar -->
			        <ul class="navbar-nav ml-auto">
			
			            <!-- Nav Item - User Information -->
			            <li class="nav-item dropdown no-arrow">
			              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name"></span>
			                <img class="img-profile rounded-circle" th:src="@{/img/user_orange.png}" alt="memorynotfound user">
			              </a>
			              <!-- Dropdown - User Information -->
			              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
			               	<div sec:authorize="hasRole('ADMIN')">
				               	<a class="dropdown-item" href="./changePassword" id="changePassword">
				                  <i class="fas fas fa-user-lock fa-sm fa-fw mr-2 text-gray-400"></i>
				                  Cambiar Contrase&ntilde;a
				                </a>
			                </div>
			                <div sec:authorize="hasRole('CONSULTOR')">
				               	<a class="dropdown-item" href="./changePassword" id="changePassword">
				                  <i class="fas fas fa-user-lock fa-sm fa-fw mr-2 text-gray-400"></i>
				                  Cambiar Contrase&ntilde;a
				                </a>
			                </div>
			                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
			                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
			                  Cerrar Sesi&oacute;n
			                </a>
			              </div>
			            </li>
			
			          </ul>
        		</nav>
        		<!-- End of Topbar -->
    
</th:block>
