
<th:block th:fragment="menuSuperior">
	<div sec:authorize="hasAnyRole('CONSULTOR', 'ADMIN')">     
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark"  style="height: 100%; width: 100%; font-size: 16px !important">
			<!-- Sidebar Toggle (Topbar) -->

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    			<span class="navbar-toggler-icon"></span>
  			</button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="main" id="mainl">
					<i class="fas fa-fw fas fa-home"></i> 
					<span>Inicio</span>
				</a>
			  </li>	  
		  	  <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          <i class="fas fa-search-dollar"></i>
		          <span>Consultas</span>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		        	<a class="dropdown-item" href="mapa" id="mapal"><i class="fas fa-map-marked-alt"></i>&nbsp;
				    <span>Divisas General</span></a>		         
		        </div>
		      </li>
		  	 <li class="nav-item dropdown">
		       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		         <i class="fas fa-clipboard"></i>
		         <span>Reportes</span>
		       </a>
		       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="reporte" id="reportel"><i class="fas fa-chart-line"></i>&nbsp;<span>  Posici&oacute;n Consolidada</span></a>
		          <a class="dropdown-item" href="reporteNoAptos" id="reporteNoAptosl"><i class="fas fa-ban"></i>&nbsp;<span>  Billetes No Aptos</span></a>
		          <a class="dropdown-item" href="trackingRemesas" id="reporteRemesasl"><i class="fas fa-route"></i>&nbsp;<span>  Tracking De Remesas</span></a>
		          <a class="dropdown-item" href="remesasPendientes" id="remesasPendientesl"><i class="fas fa-hand-holding-usd"></i>&nbsp;<span>  Pendientes por Entrega</span></a>		         
		        </div>
		     </li>
			 <div sec:authorize="hasAnyRole('ADMIN_BECA', 'ADMIN')">
				<li class="nav-item dropdown">
			       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			         <i class="fas fa-user-lock"></i>
			         <span>Seguridad</span>
			       </a>
			       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="usuarioHome" id="usuarioHomel"><i class="fas fa-fw fa-users"></i>&nbsp;<span>Usuarios</span></a>		         
			        </div>
			     </li>
			 </div>
		    </ul>
		  </div>
		</nav>
	</div>

</th:block>
