<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="es">

<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Envío de Efectivo</title>
	
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
	<link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
	
	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link href="css/fonts-family-nunito.css" rel="stylesheet">
	
	<!-- Custom styles for this template-->
	<link href="css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
	<script src="vendor/jquery/jquery.min.js"></script>
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		
		

		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">	
						
				<!-- Topbar -->
				<th:block th:replace="fragments/header :: header" />
				<th:block th:replace="fragments/menu :: menuSuperior" />
        		<!-- End of Topbar -->

				
				<!-- Begin Page Content -->
				<div>
					<!-- Page Heading -->
				<br/>
					<center>
						<div th:switch="${idEmpresa}" align="center" style="border-radius: 10px; width: 850px; overflow: hidden;">
							<input type="hidden" name="idEmpresa" id="idEmpresa" th:value="${idEmpresa}" />						
							<iframe width="850px" height= "1700px" src= "" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
						</div>
					</center>						 

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<th:block th:replace="fragments/footer :: footer" /> 
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

    
    <!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}" ></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"  ></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"  ></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"   th:src="@{/js/sb-admin-2.min.js}" ></script>
	<script type="text/javascript">
	
		$(document).ready(function(){
			var id = $('#idEmpresa').val();
			var url = '';
			switch(id) {
			  case "202001"://farmatodo
					url = 'https://forms.office.com/Pages/ResponsePage.aspx?id=X0LDO4vW6kaIkVvM7HEVyr386aAckxRLjj3pv9RL05lUQkswVUQxNE9CWFlYMVlRVFNZNUdRUU9NVSQlQCN0PWcu&embed=true';
					break;
			  case "301420608"://gama
					url = 'https://forms.office.com/Pages/ResponsePage.aspx?id=X0LDO4vW6kaIkVvM7HEVyr386aAckxRLjj3pv9RL05lURVg0TjNKMjJGUTlIUUgyOFJVQVQ5NUdQMiQlQCN0PWcu&embed=true';
					break;
			  case "306725024"://plazas
					url = 'https://forms.office.com/Pages/ResponsePage.aspx?id=X0LDO4vW6kaIkVvM7HEVyr386aAckxRLjj3pv9RL05lUQ1lNUU9WMk1XUjVGWVRTNUpTVVdVSUIxSiQlQCN0PWcu&embed=true';
					break;
			  case "316125017"://El paso
					url = 'https://forms.office.com/Pages/ResponsePage.aspx?id=X0LDO4vW6kaIkVvM7HEVyr386aAckxRLjj3pv9RL05lUNUpMREkxQ0FVRVBZWlFONE04NUI3MkdTRiQlQCN0PWcu&embed=true';
					break;
			  case "000453390"://alimex
					url = 'https://forms.office.com/Pages/ResponsePage.aspx?id=X0LDO4vW6kaIkVvM7HEVyr386aAckxRLjj3pv9RL05lURVNNUUpSRTc1Q1VBUUZEUUQwNDZCSkdDOCQlQCN0PWcu&embed=true';
					break;
			  case "300244776"://tunal
					url = 'https://forms.office.com/Pages/ResponsePage.aspx?id=X0LDO4vW6kaIkVvM7HEVyr386aAckxRLjj3pv9RL05lURU5QQVdFWVBSRFNRSjdZUzhRMU1JR1ZaOSQlQCN0PWcu&embed=true';
					break;
			  default:
				break;
			}
			$('iframe').attr('src', url);
		});	
	</script>
</body>

</html>
