<!doctype html>
<html>
<head>
	<title>OTP/title&gt;</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
	<tbody>
		<tr>
			<td colspan="3" style="background-color:#FF8C00;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="background-color:#0000FF;">&nbsp;</td>
		</tr>
		<tr style="height: 150px;">
			<td colspan="3">
			<p><font style="vertical-align: inherit;">Sr (a): <span th:text="${nombreUsuario}"></span></font></p>

			<p><font style="vertical-align: inherit;">EXTERIOR te informa: Tu Clave Din&aacute;mica es <span th:text="${codigoOtp}"></span>, si no reconoce el mensaje comun&iacute;cata al 02125085000</font></p>

			<p><font style="vertical-align: inherit;">Este es un correo electr&oacute;nico informativo que no requiere ser respondido.</font></p>
			<br />
			<br />
			&nbsp;</td>
		</tr>
		<tr style="height: 50px;">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="background-color:#0000FF;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="background-color:#FF8C00;">&nbsp;</td>
		</tr>
	</tbody>
</table>
</body>
</html>
